@import url(https://db.onlinewebfonts.com/c/aa0978a3bd6a626f739efaff3d30955e?family=Georgia+Pro+W01+Regular); 
body {
    font-family: 'Georgia Pro W01 Regular', 'Times New Roman', Times, serif;
    text-align: center;
}

ul li {
    list-style-type: none;
    text-align:left;
}

.recipe-card {
    display: inline-block;
    margin-top: 20px;
    width: 700px;
}

img {
    width: 700px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.recipe-card h3 {
    text-align: center;
    margin: 0px;
}

.nutrition {
    background-color: blanchedalmond;
}

.ingredient {
    background-color: aquamarine;
}

.direction {
    background-color: #5F8C1B;
}

.nutrition, .direction, .ingredient {
    text-align: center;
    padding: 20px;
    margin: 0px auto;
    display: block;
}

.description {
    width: 680px;
    margin: 0 auto;
    background-color: #D9751E;
    padding: 10px;
}